// ABOUT :: START

section#about.about
  .container
    h1.about__title.title!= "Holistic Dentist"
    p.about__subtitle!= "Dr. Minaxi Mirkal"

    p.about__text!= "We have found our life’s calling in the principles and practice of Biological Dentistry and want to do our best to help and serve our patients. We use natural minimalist approach and focus on providing what the body needs to heal from an oral health standpoint.Oral health is crucial to systemic well-being.We are Mercury Free, Mercury Safe,Fluoride Free office.We work closely with your Functional /alternative health provider to ensure the best health goals designed for you. We have found our life’s calling in the principles and practice of Biological Dentistry and want to do our best to help and serve our patients. We use natural minimalist approach and focus on providing what the body needs to heal from an oral health standpoint.Oral health is crucial to systemic well-being.We are Mercury Free, Mercury Safe,Fluoride Free office.We work closely with your Functional /alternative health provider to ensure the best health goals designed for you."

    a.about__btn(
      href="#"
      title="" class=""
    )!= "Learn more"

// ABOUT :: END