// DESCRIPTION :: START

section#description.description
  .container
    .description__wrapper

      h2!= "Some title"
      p!= "Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary. Kid-friendly Solea laser technology can help overcome dental fears by providing a better patient experience."
      p!= "Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary. Kid-friendly Solea laser technology can help overcome dental fears by providing a better patient experience. Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary. Kid-friendly Solea laser technology can help overcome dental fears by providing a better patient experience."

      h2!= "Another title"
      p!= "Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary. Kid-friendly Solea laser technology can help overcome dental fears by providing a better patient experience."

      h2!= "One more another title"
      p!= "Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary. Kid-friendly Solea laser technology can help overcome dental fears by providing a better patient experience. Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary. Kid-friendly Solea laser technology can help overcome dental fears by providing a better patient experience. Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary. Kid-friendly Solea laser technology can help overcome dental fears by providing a better patient experience. Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary. Kid-friendly Solea laser technology can help overcome dental fears by providing a better patient experience."

      ul
        li!= "Kids and moms love no shot, no drill dentistry."
        li!= "Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary."
        li!= "Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills..."
        li!= "Kids and moms love no shot, no drill dentistry."
        li!= "Kids and moms love..."

      p!= "Kids and moms love no shot, no drill dentistry. For children, big needles, noisy drills, and numbness can make dental visits seem scary. Kid-friendly Solea laser technology can help overcome dental fears by providing a better patient experience."

// DESCRIPTION :: END