// TESTIMONIALS :: START

section#testimonials.testimonials
  .container
    .testimonials__box
      h1.testimonials__title.title!= "Testimonials"

      .testimonials__block.testimonials__block-0
        p!= "Thank you so much Dr. Mirkal for everything!! I appreciate your patience and understanding… You gave me the best smile that i’ve ever hoped for… Still smiling and will always have confidence in my smile… You are the BEST!!"
        p!= "Sarah J"

      .testimonials__block.testimonials__block-1
        p!= "Thank you for seeing me today! No waiting, quick diagnosis. Left with antibiotic and pain relief Rx. Dr. Mirkal was not rushed and explained options clearly. Friendly staff.”"
        p!= "Becky F"

      .testimonials__block.testimonials__block-2
        p!= "This was the FIRST pain free experience I have ever had. Dr. Mirkal I cannot speak highly enough of. She clearly showed the issues, clearly explained the path, made it clear she does not want to do work just to charge clients and the work she performed was outstanding to say the very least. If you are looking for a dentist with the highest moral, ethical and professional standards that is pain free"
        p!= "Jack T"

      a.testimonials__btn(
        href="#"
        title="" class=""
      )!= "View All"

// TESTIMONIALS :: END